<!DOCTYPE html>
<html ng-app="warehouse">
    <head>
        <title>Discount Ascii Warehouse</title>
    </head>
    <body ng-controller="productsController">
        <header>
            <h1>Discount Ascii Warehouse</h1>

            <p>Here you're sure to find a bargain on some of the finest ascii available to purchase. Be sure to peruse our selection of ascii faces in an exciting range of sizes and prices.</p>

            <p>But first, a word from our sponsors:</p> <script>document.write('<img class="ad" src="/ad/?r=' + Math.floor(Math.random()*1000) + '"/>');</script>
        </header>
        <button ng-click="goForProducts('size')">Size</button>
        <button ng-click="goForProducts('price')">Price</button>
        <button ng-click="goForProducts('id')">id</button>
        <section class="products"  ng-init="goForProducts()">
            <div ng-repeat="product in products">
                <div>ID:{{product.id}}</div>
                <div>Face:{{product.face}}</div>
                <div>Size:{{product.size}}</div>
                <div>Price:{{product.price}}</div>
                <div>Date:{{product.date}}</div>
            </div>
            <div ng-show="isLoading">Loading...</div>
        </section>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/oboe/dist/oboe-browser.min.js"></script>
        <script src="/app/app.js"></script>
        <script src="/app/controllers/productsController.js"></script>
        <script src="/app/services/productsFactory.js"></script>
    </body>
</html>
