<!DOCTYPE html>
<html ng-app="warehouse">
    <head>
        <title>Discount Ascii Warehouse</title>
        <link href="/css/warehouse.css" type="text/css" rel="stylesheet" media="screen, projection">
    </head>
    <body ng-controller="productsController">
        <header>
            <h1>Discount Ascii Warehouse</h1>

            <p>Here you're sure to find a bargain on some of the finest ascii available to purchase. Be sure to peruse our selection of ascii faces in an exciting range of sizes and prices.</p>

            <p>But first, a word from our sponsors:</p> <script>document.write('<img class="ad" src="/ad/?r=' + Math.floor(Math.random()*1000) + '"/>');</script>
        </header>
        <div class="grid">
            <button ng-click="sortProducts('size')">Size</button>
            <button ng-click="sortProducts('price')">Price</button>
            <button ng-click="sortProducts('id')">id</button>
            <section class="products"  ng-init="loadMoreProducts()">
                <div ng-show="isLoading">Loading...</div>
                <div ng-repeat="product in products">
                    <div class="product">
                        <div>ID:{{product.id}}</div>
                        <div>{{product.face}}</div>
                        <div>Price:{{'$' + (product.price /100)}}</div>
                        <div><date-format date="{{product.date}}"></date-format></div>
                    </div>
                    <div class="product" ng-if="($index % 20 == 0) && ($index != 0)">
                            <advertising random="random" ></advertising>
                    </div>
                </div>
            </section>
        </div>
        <scroll-in-the-end></scroll-in-the-end>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/oboe/dist/oboe-browser.min.js"></script>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>

        <script src="/app/app.js"></script>
        <script src="/app/controllers/productsController.js"></script>
        <script src="/app/services/productsFactory.js"></script>
        <script src="/app/directives/scrollDirective.js"></script>
        <script src="/app/directives/adDirective.js"></script>
        <script src="/app/directives/dateFormatDirective.js"></script>
    </body>
</html>
